node_modules
dist
.env*
public
pnpm-lock.yaml
pnpm-workspace.yaml
*.log
*.tsbuildinfo
.idea
.vscode
.DS_Store
.package-lock.json
yarn.lock
*.tgz
coverage
*.zip   
*.tar.gz
*.bak
*.tmp
*.swp
*.swo
*.eslintcache
*.prettiercacheS